#!/bin/sh
echo "=============================================="
echo "╔═╗┬─┐┌─┐ ┬┌─┐┌─┐┌┬┐  ╦  ┌─┐┬ ┬┌┐┌┌─┐┬ ┬┌─┐┬─┐"
echo "╠═╝├┬┘│ │ │├┤ │   │   ║  ├─┤│ │││││  ├─┤├┤ ├┬┘"
echo "╩  ┴└─└─┘└┘└─┘└─┘ ┴   ╩═╝┴ ┴└─┘┘└┘└─┘┴ ┴└─┘┴└─"
echo "=============================================="
sleep 1
echo "* Project: {{ project_name }}"
sleep 1
echo "Enter Project Setup in this file"
echo ""
echo ""
echo ""
sleep 1
echo "EXAMPLES: "
echo ""
echo "To open a browser tab:"
echo "xdg-open https://127.0.1.1:5000"
echo "see options here: https://linux.die.net/man/1/xdg-open"
sleep 1
echo ""
echo "To open sublime"
echo "subl /with/a/directory/"
echo "see options here: https://www.sublimetext.com/docs/3/osx_command_line.html"
sleep 1
echo ""
echo "To open a terminal"
echo "gnome-terminal --tab-with-profile='A gnome-terminal profile name'  log -e 'echo example' \
               --geometry=90x220"
echo "see options here: http://manpages.ubuntu.com/manpages/precise/man1/gnome-terminal.1.html"               
sleep 1
echo ""
echo "IDEAS: "
echo ""
echo "- Start Django."
echo "- vagrant up"
echo "- Start Flask site."
echo "- A developers environment"
echo "- logging"

sleep 45
echo "now closing this window"
sleep 1