#!/bin/sh
echo "=============================================="
echo "╔═╗┬─┐┌─┐ ┬┌─┐┌─┐┌┬┐  ╦  ┌─┐┬ ┬┌┐┌┌─┐┬ ┬┌─┐┬─┐"
echo "╠═╝├┬┘│ │ │├┤ │   │   ║  ├─┤│ │││││  ├─┤├┤ ├┬┘"
echo "╩  ┴└─└─┘└┘└─┘└─┘ ┴   ╩═╝┴ ┴└─┘┘└┘└─┘┴ ┴└─┘┴└─"
echo "=============================================="

sleep 1

echo "* Project: {{ project_name }}"

sleep 1

echo "Enter Project Setup in this file"